version: "3.8"

services:
  app:
    build: .
    container_name: printer-ui
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      
    volumes:
      - ./app/labels:/app/app/labels:ro
    
    extra_hosts:
      - "printer1.local:192.168.0.63"
